/* CSS NATIVE HTML */
html, body {
	height:100%;
	margin:0;
	font-family: Arial, sans-serif;
}
header {
	height:10%;
}

img {
	padding:50px;
	width:300px;
}

/* CSS ID */

#header {
	display:flex;
	justify-content: flex-end;
	margin-right:20px;

}
#header a {
	padding:10px;
	text-decoration:none;
	color:black;
}
#header a:hover {
	text-decoration: underline;
	cursor: pointer;
}
#header ul li {
	display: inline-flex;
}

#conteneur {
	height:80%;
	display:flex;
	line-height: 5em;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#footer {
	height:10%;
	background-color: #f4f4f4;
	color:#321419;
	vertical-align: text-bottom;
}

#footer a {
	color:#321419;
}

#france {
	margin-left:15px;
	margin-top: 5px
}

#menu {
	display:flex;
	justify-content: space-between;
	border-top:1px solid silver;
	margin-top:15px;
	margin-left:15px;
}
#menu ul li{
	padding-right: 15px;
	text-decoration: none;
	list-style: none;
}
#header #connection {
	background-color:#4285F4;
	color:white;
	font-weight:bold;
}
a {
	text-decoration: none;
}
#menu ul li:hover {
	text-decoration: underline;
	cursor: pointer;
}
#menu #left {
	display:flex;
}
#menu #right {
	display:flex;
}

/* CSS CLASS */

.button {
	color:#1a0000;
}

.button:hover {
	color: black;
}

.searchbar {
	width:400px;
}