/* CSS NATIVE HTML */
html, body {
	height:100%;
	font-family: Arial, sans-serif;
}
header {
	height:10%;
}

img {
	width:200px;
}
/* CSS ID */

#header {
	display:flex;
	justify-content: flex-end;
}
#header a {
	padding:10px;
	text-decoration:none;
	color:black;
}
#header ul li {
	display: inline-flex;
}

#conteneur {
	height:80%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#footer {
	height:10%;
	background-color: #f4f4f4;
	color:#321419;
	vertical-align: text-bottom;
}

#footer a {
	color:#321419;
}

#france {
	margin-left:15px;
}

#menu {
	display:flex;
	justify-content: space-between;
	border-top:1px solid silver;
	margin-top:15px;
	margin-left:15px;	
}
#menu div {
	padding-right: 15px;
}
#menu #left {
	display:flex;
}
#menu #right {
	display:flex;
}

/* CSS CLASS */
.button {
	background-color:#4285F4;
	width:100px;
	color:white;
}

.searchbar {
	width:400px;
}

.element:hover {
	text-decoration: underline;
}